HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Testing Authentication ###
src/main/java/com/sliit/uniops/config/DataInitializer.java
src/main/java/com/sliit/uniops/controller/AuthController.java
src/main/java/com/sliit/uniops/model/User.java
src/main/java/com/sliit/uniops/repository/UserRepository.java
src/main/java/com/sliit/uniops/security/SecurityConfig.java
src/main/java/com/sliit/uniops/security/AuthFilter.java
src/main/java/com/sliit/uniops/security/TokenUtils.java
src/main/java/com/sliit/uniops/security/UserPrincipal.java
src/main/java/com/sliit/uniops/service/AuthService.java
